html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=tel],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none !important;
    outline-style: none;
}

input:focus-visible {
    outline-width: 0px;
}

textarea:focus-visible {
    outline-width: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


/* ----------Styling---------- */

/* fonts poppins  */
@font-face {
    font-family: gilroy-regular;
    src: url(../fonts/gilroy-bold-cufonfonts/Gilroy-Regular.ttf);
}


@font-face {
    font-family: gilroy-medium;
    src: url(../fonts/gilroy-bold-cufonfonts/Gilroy-Medium.ttf);
}

/* ================================== */





.container {
    /* padding: 0px 15px; */
    max-width: 1610px;
    margin: 0 auto;
}

.container-Training-intro {
    max-width: 1610px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* position: relative; */
    font-family: gilroy-medium;
    line-height: 2em;
    color: #777777;
    padding-bottom: 5%;

}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 54px;
    font-family: gilroy-medium;
    padding-top: 25px;
}

.dropdown-contents-1 {
    display: none;
    list-style: none;
}
.logo img {
    width: 270px;
    height: 71px;
}

div.dropdown-contents-1 ul  {
    /* display: flex; */
    gap: 65px;
    list-style: none;
}
    
div.dropdown-contents ul {
    /* display: flex; */
    gap: 65px;
    list-style: none;

}


.navbar {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar li {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    /* background: white; */

    list-style: none;
    /* padding: 10px 0; */
    min-width: 130px;

}

.dropdown:hover .dropdown-menu {
    display: block;
    cursor: pointer;
      padding-top: 15px;
     padding-left: 25px;
}

.training-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;

    list-style: none;
    /* padding: 10px 0; */
    min-width: 250px;
    padding-left: 15%;

}

.training-dropdown:hover .training-dropdown-menu {
    display: block;
    cursor: pointer;
}

.down-arrow {
    position: relative;
}

.arrow-image img {
    position: absolute;
    left: 70px;
    bottom: 5px;

}

/* training contents */


.container-Training-intro {
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */
    font-family: gilroy-medium;
    line-height: 2em;
    color: #777777;
    padding-bottom: 5%;


}

.content-training {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-mod1 img {
    align-items: center;
    height: 508px;
    padding-top: 2%;
}

.mod1 {
    width: 110px;
    background-color: #05A93D;
    height: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 2%;
    font-size: 19px;

}

h2 {
    font-size: 36px;
}

.mod1-contents {
    padding-top: 2%;
}

.mod1-list ol {
    width: 1200px;
    padding-left: 2%;
}

.type-box {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.term {
    width: 1115px;
    height: auto;
    border-radius: 5px;

    border: 1px solid #e0e0e0;
    /* Light grey border */
    border-radius: 10px;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;




}

.h3 {
    font-weight: 23px;
}

.next-mod {
    display: flex;
    width: 1515px;
    height: 700px;
    background-color: #EFFAF6;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card-head {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 656px;
    padding-top: 5%;

}

.Training-cards {
    width: 1520.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFFAF6;
    padding-top: 2%;
    padding-bottom: 2%;
}

.card-body {
    background-color: #FFFFFF;
    padding: 8%;
}

div.modules {
    display: flex;
    gap: 25px;
    padding-top: 3%;
    padding-bottom: 5%;
}

div.mod-type {
    background-color: #05A93D;
    width: 79px;
    height: 25px;
    color: #EFFAF6;
    padding-top: 2%;
    position: relative;
    bottom: 31px;
    font-family: gilroy-medium;
    padding-left: 2%;

}

div.card-button {
    width: 120px;
    height: 30px;
    color: #05A93D;
    padding-top: 8%;
    font-family: gilroy-medium;

}

div.card {
    width: 380px;
    /* height: 520px; */

}

.card-title {
    padding-top: 2%;
    font-family: gilroy-medium;

}

.card-arrow {
    position: relative;
    top: 5px;
    left: 2px;
}













.footer {
    background-color: #05A93D;
    position: relative;
    /* bottom: 0; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 0;
    height: 412px;
}

.footer-logo img {
    width: 229px;
    height: 64px;

}

.footer-list ul {
    display: flex;
    list-style: none;
    color: #FFFFFF;
    width: 554px;
    justify-content: space-around;
    padding-bottom: 30px;
    padding-top: 30px;
    font-family: gilroy-medium;

}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.icon {
    width: 37px;
    height: 36px;
    background-color: #F67C01;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.media {
    width: 15px;
    height: 18px;
}

.media img {
    width: 100%;
    height: 100%;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFFFFF;
    padding-top: 30;
    font-family: gilroy-medium;
    text-align: center;

}

hr {
    width: 100%;
}

@media screen and (max-width: 922px) {

    .container {
        /* padding: 0px 15px; */
        max-width: 921px;
        margin: 0 auto;
    }

    .container-Training-intro {
        max-width: 921px;
        font-family: gilroy-medium;
        width: 921px;
        display: flex;
        /* justify-content: center; */
        /* flex-direction: column; */
        /* position: relative; */
        font-family: gilroy-medium;
        line-height: 2em;
        color: #777777;
        padding-bottom: 5%;
        margin: 0px auto;


    }

    .content-training {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 920px;
    }

    p {
        width: 890px;
        padding: 1%;
    }

    .training-intro {
        font-family: gilroy-medium;
    }

    .image-mod1 img {
        max-width: 921px;
        ;
    }

    .mod1-contents {
        padding-top: 2%;
        width: auto;
    }

    .next-mod {
        display: flex;
        width: 100%;
        height: 500px;
        background-color: #EFFAF6;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .mod1-list ol {
        width: 900px;
        padding-left: 2%;
    }

    .type-box {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 890px;

    }

    .term {
        width: 890px;
        height: auto;
        border-radius: 5px;

        border: 1px solid #e0e0e0;
        /* Light grey border */
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;




    }


    .footer {
        background-color: #05A93D;
        position: relative;
        /* bottom: 0; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 0;
        height: 412px;
    }

}


@media screen and (max-width: 580px) {

    .container {
        /* padding: 0px 15px; */
        width: 100%;
        margin: 0 auto;
    }

    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 22px;
        font-family: gilroy-medium;
        padding-top: 25px;
    }


    .logo img {
        width: 150px;
        height: 51px;
    }


    div.dropdown-contents ul {
        gap: 30px;
        list-style: none;
        font-family: gilroy-medium;

    }

    .container-Training-intro {
        width: 90%;
        font-family: gilroy-medium;
        display: flex;
        /* justify-content: center; */
        /* flex-direction: column; */
        /* position: relative; */
        font-family: gilroy-medium;
        line-height: 2em;
        color: #777777;
        padding-bottom: 5%;
        margin: 0px auto;


    }

    .content-training {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%
    }

    .next-mod {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #EFFAF6;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding-bottom: 3%;
        padding-top: 3%;
    }

    .image-mod1 img {
        max-width: 100%;
    }

    p {
        width: 100%;
        padding: 1%;
    }

    .mod1-list ol {
        width: 100%;
        padding-left: 2%;
    }

    .type-box {
        display: flex;
        flex-direction: column;
        gap: 25px;
        width: 100%;

    }

    .footer-list {
        width: 100%;
    }

    hr {
        width: 80%;
    }

    .term {
        width: 100%;
        height: auto;
        border-radius: 5px;

        border: 1px solid #e0e0e0;
        /* Light grey border */
        border-radius: 10px;
        padding-top: 2%;
        padding-bottom: 2%;




    }


    .menu {

        cursor: pointer;
    }

    .dropdown-contents {
        display: none;

    }

    .hamburger{
        width: 50px;
        height: 50px;
    }
.menu img{
    width: 100%;
    height: 100%;
}
    .dropdown-contents-1 {
        display: flex;
        list-style: none;
    }

    .navbar {
        display: none;
        list-style: none;

       
       
    }

    .menu:hover .navbar {
       display: block;
       position: absolute;
        background-color: #dd9417;
        width: 150px;
        height:260px;
        right: 10;
        align-items: center;
        list-style: none;
        padding-left: 35%;
        padding-right: 35%;
        padding-top: 15px;
        


    }
    .navbar li{
    margin-bottom: 12px;   /* gap between items */
}
    
.down-arrow {
    position: relative;
    width: 9px;
    height: 14px;
}


.arrow-image img {
    position: absolute;
    left: 70px;
    top: 2px;
    width: 100%;

}

.dropdown:hover .dropdown-menu {
    position: relative;
    display: block;
    cursor: pointer;
      padding-top: 2px;
     padding-left: 25px;
     left: 85px;
     background-color: white;
}

.training-dropdown:hover .training-dropdown-menu {
    display: block;
    cursor: pointer;
    position: relative;
    left: 85px;

}

}